<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-left">Active stream sessions:</h2>            
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let stream of streamSessions">{{ stream.title }}</li>
            </ul>
            <div class="d-flex justify-content-end mt-3">
                <button *ngIf="!isProcessing" class="btn btn-primary" (click)="newStreamSession()">New Stream Session</button>
                <div *ngIf="isProcessing" class="spinner-border spinner text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>