<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input type="text" id="username" name="username" ngModel required class="form-control">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" id="password" name="password" ngModel required class="form-control">
  </div>
  <button *ngIf="!isProcessing" type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary">Login</button>
  <div *ngIf="isProcessing" class="spinner-border spinner text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3 error-message">{{ errorMessage }}</div>
</form>