form {
    max-width: 300px;
    margin: auto;
  }
  div {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:disabled {
    background-color: #cccccc;
  }

  .error-message {
    width: 100%; /* Match the button width */
    height: 100px; /* Make it a square */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .spinner {
    display: block;
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    right: 50%; /* left: 50%; */
  }

  